# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
.env
.venv/
.idea/
.vscode/
node_modules/
**/admin.py
*.DS_Store

# Secrets
config.py
secrets.json

# Copy files
License.html
README.html