

/* GLOBAL STYLES */
body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #232323;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color:#cfaa60;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
}

.main-content {
    flex: 1;
    padding: 20px;
}



/* HEADER */
.header {
    background-color: #D4CFC8;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content:baseline;
    padding: 10px 5%;
    margin-bottom: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    opacity: 1;
    width: 110px;
    margin-right: 15px;
}

.logo {
    opacity: 1;
    width: 60px; /* Adjust as needed */
    padding-right: 10px;
}

.header h1 {
    color:#232323;
}

.navigation {
    text-align: right;
    margin: 10px 0;
    margin-left: auto;
}
.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #232323;
}
.navigation a:hover {
    text-decoration: underline;
}

/* MAIN BANNER */
.banner-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.banner-image {
    width: 100%;
    max-height:250px;
    opacity: 0.10;
    color: #232323;
    mix-blend-mode: darken;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    bottom: 10%;
    left: 25%;
    transform: translateX(-50%);
    text-align: left;
    max-width: 1200px;
    width: 100%;
}

.logo-and-text {
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: flex-start;
    padding-left: 5%;
    margin-left: auto;
    margin-right: auto;
}

.banner-text-content h1 {
    margin-left: 20px; 
    color: #cfaa60
}
.banner-text-content h2 {
    margin-left: 24px; 
    color: #D4CFC8
}

/* FEATURED SECTIONS SHARED STYLES */
#aspyn-partner, #aspyn-approach, #aspyn-ready {
    margin: 0; 
    padding: 0; 
}

#aspyn-partner .partner-content, #aspyn-approach .approach-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

#aspyn-partner .partner-text-block, #aspyn-approach .approach-text-block{
    flex: 1;
    width: 500px;
    text-align: center;
    padding: 20px;
}

#aspyn-partner .partner-text-block h2, #aspyn-approach .approach-text-block h2 {
    color:#cfaa60;
}

#aspyn-partner .partner-text-block p, #aspyn-approach .approach-text-block p {
    color:#D4CFC8;
}

#aspyn-partner .partner-image-block, #aspyn-approach .approach-image-block {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#aspyn-partner .image-block img, #aspyn-approach .approach-image-block img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}



#aspyn-approach .approach-image-block {
    align-self: flex-start;
}

#aspyn-approach .approach-image-block, #aspyn-approach .approach-text-block {
    flex: 1; 
    box-sizing: border-box;
    padding: 20px;
}

#aspyn-approach .approach-text-block {
    max-width: 500px;
    text-align: center;
}

#aspyn-approach .approach-image-block img {
    width: 500px;
    height: 500px; 
    object-fit: cover; 
}


/* Common styles for both sections */
#aspyn-partner, #aspyn-approach {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

/* Image block styling for both sections */
#aspyn-partner .image-block, #aspyn-approach .approach-image-block {
    width: 500px;
    height: 500px;
    overflow: hidden; /* Hide parts of the image that overflow */
}

/* Image styling for both sections */
#aspyn-partner .image-block img, #aspyn-approach .approach-image-block img {
    width: 500px;
    height: 500px;
    object-fit: cover; /* Ensure no distortion */
}

/* Text block styling for both sections */
#aspyn-partner .partner-text-block, #aspyn-approach .approach-text-block {
    flex: 1;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}


/* FOOTER */
.footer {
    background-color: #D4CFC8;
    color: #232323;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;  /* Push footer to the bottom */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10%;
}

.footer-section {
    margin: 0 20px;
}

.footer-section h3, .footer-section p {
    margin: 0 0 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #232323;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #232323;
    border-bottom: #232323;
    background-color: #D4CFC8;
    color: #232323;
    margin: 0;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    #aspyn-partner, #aspyn-approach {
        flex-direction: column;
    }
    
    #aspyn-partner .partner-content, #aspyn-approach .approach-content {
        width: 100%;
    }
    
    #aspyn-partner .image-block, #aspyn-approach .approach-image-block,
    #aspyn-partner .partner-text-block, #aspyn-approach .approach-text-block {
        max-width: none;
        width: auto; 
    }
}

@media only screen and (min-width: 769px) and (max-width: 2400px) {
    .logo-and-text {
        padding-left: 30%; /* Lesser padding for intermediate sizes */
    }
}

@media only screen and (max-width: 768px) and (min-width: 0) {
    .banner-content {
        left: 10%;
        transform: translateX(0); /* Adjust for smaller screens */
        width: 80%; /* Adjust width to give some padding */
    }
    .logo-and-text {
        flex-direction: column;
        align-items: flex-start;
    }
}
