/* GLOBAL STYLES */
body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232323; /* Dark background */
}

h1, h2, h3, h4, h5 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 {
    font-size: 38px
}

h2 {
    font-size: 30px;
}

p {
    color: #D4CFC8; /* Light grey color for paragraph text */
    font-size: 16px;
}

/* GLOBAL GRID CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid */
    max-width: 1440px;
    margin: 0 auto; /* Center the grid */
    width: 100%;
    gap: 0px /* Space between grid items */
}

/* HEADER */
.header {
    grid-column: 1 / -1; /* Span all columns */
    background-color: #D4CFC8; /* Light grey background */
    color: #232323; /* Dark text */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    opacity: 1;
    width: 110px;
    margin-right: 15px;
}

.logo {
    opacity: 1;
    width: 60px; /* Adjust as needed */
    padding-right: 10px;
}

.navigation {
    text-align: right;
    margin: 10px 0;
    margin-left: auto;
}
.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #232323;
}
.navigation a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) and (min-width: 0) {
    .logo-and-text {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* BANNER */
.banner {
    grid-column: 1 / -1; /* Span all columns */
    position: relative;
    max-width: 1920px;
    margin-top: 115px;
    margin-bottom: 200px;
    height: 400px;
}

.banner-image {
    width: 100%;
    height:400px;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    bottom: -180px;
    left: 10px;
    width: auto;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
}

.banner-logo {
    width: 110px;
    height: auto;
    padding-left: 2%;
    display: inline-block; /* Align logo and text side by side */
    margin-right: 15px;
    margin-top: 15px;
}

.banner-text-block {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    display: inline-block; /* Align logo and text side by side */
    justify-content: center;
}

.banner-text-block h1 {
    color: #cfaa60;
    margin: 0;
}
.banner-text-block h2 {
    color: #D4CFC8;
    margin-top: 15px;

}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D4CFC8;
    position: absolute;
}

.banner::before {
    top: 400px;;
}

/* FEATURED CONTENT BLOCKS */
.featured-section {
    grid-column: span 12; /* Full width */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    gap: 0px
}

.image-block {
    grid-column: span 6; /* Half-width */
    max-width: 720px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

.text-block {
    grid-column: span 6;
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box; /* Ensure padding does not increase block size */
    overflow: hidden;
    text-align:center;
}
.text-block h2, .textblock h3, .textblock h4 {
    color:#cfaa60;
    align-self: self-start; /* Align title to the start */
    width: 100%; /* Full width for the title */
    margin-bottom: 10px; /* Space between title and paragraph */
}

/* Your Vision Block */
#your-vision-block {
    margin-top:0;
    padding-top: 0;
    gap:0;
}

#your-vision-block::before {
    content: "";
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 2px;
    background-color: #D4CFC8;
    position: absolute;
}


/* Adjust order for alternate layout */
#our-approach-tile .text-block { 
    grid-column: 7 / 13; 
}

#our-approach-tile .image-block { 
    grid-column: 1 / 7; 
}


/* Capabilities Section */
#capabilities-block {
    grid-column: span 12; /* Full width */
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid */
    align-items: center;
    gap: 0px;
    margin-bottom: 0;
}

.capabilities-text-block {
    grid-column: span 6; /* Each text block takes half of the left side */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 800px; /* Height adjusted to match half of the image height */
    max-width: 500px;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

.capabilities-text-block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 10px;
}

.capabilities-text-block h2 {
    color:#cfaa60;
    margin-top: 0;
    margin-bottom: 0;

}
.capabilities-text-block p {
    margin-bottom: 5px;
}

.fourth-text-box p {
    margin-bottom: 0px;
    padding-bottom: 0;
}

.capabilities-image-block {
    grid-column: 7 / -1; /* Span from the 7th to the last column */
    grid-row: 1 / span 2; /* Span two rows */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.capabilities-image-block img {
    width: 100%; /* Full width of the container */
    height: 800px; /* Full height of the container */
    object-fit: cover;
}

.capabilities-text-block h3 {
    color: #cfaa60; /* Gold color for titles */
    margin-bottom: -10px; /* Space between title and description */
}

.third-text-box h3 {
    margin-top: -30px auto;
}

/* CTA Banner */
#CTA-banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid */
    margin-top: 0;
}

#CTA-banner .image-block {
    grid-column: 1 / 7; /* Image on the left (first 6 columns) */
    margin-bottom: 0;
}

#CTA-banner .text-block {
    grid-column: 7 / -1; /* Text on the right (last 6 columns) */
    margin-bottom: 0;
}

#CTA-banner::before {
    content: "";
    display: block;
    width: 100%;
    max-width: 1440px;
    height: 2px;
    background-color: #D4CFC8;
    position: absolute;
}

/* Responsive Design */
@media only screen and (max-width: 1000px) {
    /* Stack content in a column for smaller screens */
    .text-block, .image-block, #our-approach-tile .text-block { 
        grid-column: 1 / -1; /* Full width */
    }
}


/* FOOTER */
.footer {
    grid-column: 1 / -1; /* Span all columns */
    background-color: #D4CFC8; /* Light grey background */
    color: #232323; /* Dark text */
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Push footer to the bottom */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10%;
}

.footer-section {
    margin: 0 20px;
}

.footer-section h3, .footer-section p {
    margin: 0 0 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #232323;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #232323;
    border-bottom: #232323;
    background-color: #D4CFC8;
    color: #232323;
    margin: 0;
}

/* MEDIA QUERIES */
/* Banner content adjustment for smaller screens */
@media only screen and (max-width: 900px) {
    .banner-logo, .banner-text-block {
        display: block; /* Stack logo and text vertically */
        text-align: left; /* Center align within banner */
    }
    .banner {
        margin-bottom: 240px;
    }
}

/* Block and tile adjustments for smaller screens */
@media only screen and (max-width: 1000px) {
    #your-vision-block .text-block {
        margin-top: 30px;
    }

    #your-vision-block .image-block {
        overflow: hidden;
        max-width: 100%;
        max-height: 300px;
    }
    
    .featured-section {
        grid-template-columns: 1fr;
    }

    .text-block, .service-tile {
        grid-column: 1 / -1; /* Full width for smaller screens */
        height: auto;
    }

    .text-block {
        grid-column: 1 / -1;
        text-align: center;
        padding: 20px;
        max-width: none;
    }


    #our-approach-tile .image-block {
        display: none;
    }

    .capabilities-text-block {
        grid-column: 1 / -1; /* Full width for smaller screens */
        text-align: left;
        padding-bottom:10%;
        padding-top:10%;
    }

    .capabilities-image-block {
        display: none;
    }

    #CTA-banner {
        margin-bottom: 200px;
    }

    #CTA-banner .text-block {
        grid-column: 1 / -1; /* Full width for smaller screens */
    }
    #CTA-banner .image-block {
        display: none;
    }

    #your-vision-block::before {
        content: "";   
        display: block;
        width: 100%;
        height: 2px;
        background-color: #D4CFC8;
        position: absolute;
        margin-top: 30px;
    }

}

/* Hide Image if Text Overflows */
@media (max-width: 1000px) {
    .text-block {
        max-width: 720px; /* Adjust based on layout */
    }

    .text-block:overflow {
        /* When text overflows, hide the adjacent image */
        ~ .image-block {
            display: none;
        }
    }
    

}

