<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>{% block title %}Aspyn Analytics{% endblock %}</title>
    <link href="{% static 'css/style_local.css' %}" rel="stylesheet">
</head>

<body>
    <header class="header">
        <img src="{%static 'images/tree_logo_charcoal_on_trans.png' %}", alt='logo_white', class='logo'>
        <h1>{% block header %}Aspyn Analytics{% endblock %}</h1>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </div>
    </header>
    
    <main class="grid-container">
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        <footer>
            <div class="footer-content">
                <div class="footer-section company-name">
                    <h3>Aspyn Analytics</h3>
                </div>
                <div class="footer-section contact-info">
                    <p>Contact Information:</p>
                    <ul>
                        <li>Email: contact@example.com</li>
                        <li>Phone: (123) 456-7890</li>
                        <!-- Add more contact details here -->
                    </ul>
                </div>
                <div class="footer-section shortcuts">
                    <p>Useful Links:</p>
                    <ul>
                        <li><a href="/policies">Policies</a></li>
                        <li><a href="/about">About Us</a></li>
                        <!-- Add more links here -->
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Aspyn Analytics. All rights reserved.</p>
            </div>
        </footer>
        {% endblock %}
    </footer>  
</body>
</html>