{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Welcome Banner -->
    <section id="home-banner" class="banner">
        <img src="{% static 'images/falling_leaves_full_size.jpg' %}" alt="Introduction" class="banner-image">
        <div class="featured-banner-content">
            <div class="banner-logo">
                <img src="{% static 'images/tree_logo_gold_on_trans.png' %}" alt="Logo" class="banner-logo">
            </div>
            <div class="banner-text-block">
                <h1>Augment Your Vision With Aspyn</h1>
                <h2><em>Your Analytic Advantage</em></h2>
            </div>
        </div>
    </section>

    <!-- Your Vision Block -->
    <section id="your-vision-block" class="featured-section">
        <div class="text-block">
            <h2>Data: Your Strategic Asset</h2>
            <p> We harness data to expand your strategies and achieve your vision.
                Navigating the data landscape, we ensure ethical data collection, 
                robust statistical methodologies, and practical implementation. We are not just data 
                scientists; we are strategic partners dedicated to propelling your organization forward 
                with data-driven capabilities.</p>
        </div>
        <div class="image-block">
            <img src="{% static 'images/sketch_cityscape_shaded_720x400.jpeg' %}" alt="Strategic Partner">
        </div>
    </section>

    <!-- Our Approach Tile -->
    <section id="our-approach-tile" class="featured-section">
        <div class="image-block">
            <img src="{% static 'images/data_city_scape_720x400.jpg' %}" alt="Our Approach">
        </div>
        <div class="text-block">
            <h2>A Collaborative Journey</h2>
            <p> Our agile methodology ensures we continually refine our approach, 
                adapting to your evolving data science needs. We immerse ourselves in your domain,
                merging your expert knowledge with our data science capabilities, keeping strategy 
                and security at the forefront of every solution we craft.</p>
        </div>
    </section>

    <!-- Capabilities Block -->
    <section id="capabilities-block" class="featured-section">
        <div class="capabilities-text-block">
            <div class="first-text-box">
                <h2>Driving Discovery</h2>
                <h3><em>Machine Learning and Computational Linguistics</em></h3>
                <p>Merging sophisticated statistical techniques with natural 
                    language processing offers an unrivaled view into unstructured data. 
                    Capatilize on your data landscape with powerful predictors engineered 
                    from your data lake or achieve boundless ideation 
                    with dynamically generated prototyping at scale.</p>
            </div>
            <div class="second-text-box">
                <h3><em>Data Aquisition and Data Engineering</em></h3>
                <p>We seamlessly integrate quality data sources to power your data-driven 
                    applications. Construct executive dashboards to monitor
                    API streams or explore new ways to boost your data's predictive 
                    power through data augmentation.</p>
            </div>
        </div>
        <div class="capabilities-text-block">
            <div class="third-text-box">
                <h2>Shaping Strategy</h2>
                <h3><em>Systems Planning and Strategic Consultation</em></h3>
                <p> Positioned at the intersection of business and technology, we ensure 
                    your strategies are as innovative as they are feasible and managable. 
                    We understand operational complexity and are prepared to back your 
                    next venture, from ideation to onboarding.</p>
            </div>
            <div class="fourth-text-box">
                <h3><em>Automation and Digital Transformation</em></h3>
                <p>We bring automation to your operations, freeing valuable resources through 
                    efficiency. We promise intuitive and robust processes that align with your 
                    culture. Change is challenging; we diligently provide personalized and
                    comprehensive support.</p>
            </div>
        </div>
        <div class="capabilities-image-block">
            <img src="{% static 'images/colorful_data_cityscape_refined_720x800.jpg' %}" alt="Colorful City">
        </div>
    </section>

    <!-- CTA Banner -->
    <section id="CTA-banner" class="featured-section">
        <div class="image-block">
            <img src="{% static 'images/data_landscape_circular_platform_720x400.jpg' %}" alt="Ready">
        </div>
        <div class="text-block">
            <h2>Ready to dive in?</h2>
            <p>Whether you're seeking in-depth analytics, strategic
                insights, or just starting your data journey, Aspyn
                Analytics is here to guide you. Explore our resources for
                a deeper understanding of our expertise or complete
                our client intake form to schedule a complimentary consultation.</p>
        </div>
    </section>
</div>
{% endblock %}